@(episodes: Seq[models.Episode], episodeForm: Form[forms.EpisodeForm], serieId: Integer, seasonNumber: Integer, title: String)(implicit request: Http.Request, messages: play.i18n.Messages)

@main(title) {
  <h1>@title</h1>

  @request.flash.asScala().get("fail").map { failFlashValue =>
  <div class="alert alert-warning" role="alert">
    <strong>Fail!</strong> @failFlashValue
  </div>
  }

  <table>
    <thead>
    <tr>
      <th>Episode Name</th>
    </tr>
    </thead>
    <tbody class="list">
    @for(a <- episodes) {
    <tr>
      <td><a href="@controllers.routes.HomeController.episodeid(a.getSeason().getSerie().getId(), a.getSeason().getId(), a.getId())">@a.getName()</a></td>
    </tr>
    }
    </tbody>
  </table>


  @helper.form(action = routes.HomeController.addEpisode()) {
  @helper.CSRF.formField
<div style="display: none;">
  @helper.inputText(
    episodeForm("serieId").copy(value=Some(serieId.toString)),
    'type -> "number"
  )
  @helper.inputText(
    episodeForm("seasonNumber").copy(value=Some(seasonNumber.toString)),
    'type -> "number"
  )
  @helper.inputText(
  episodeForm("ep_number").copy(value=Some((episodes.size + 1).toString)),
  'type -> "number",
  'class -> "epNumber"
  )
</div>

  @helper.inputText(
    episodeForm("name"),
'class -> "name"
  )
  @helper.inputText(
    episodeForm("duration_minutes"),
    'type -> "number",
'class -> "duration"
  )
  @helper.inputDate(episodeForm("release_date"),
'class -> "release_date")
  @helper.inputText(
    episodeForm("classification"),
    'type -> "number",
'class -> "classification"
  )
  <button type="submit" class="create">Create Episode</button>
  }

}