@(aux: Seq[models.Records], series: Seq[models.Serie], recordForm: Form[forms.RecordForm], title: String)(implicit request: Http.Request, messages: play.i18n.Messages)

@main(title) {
  <h1 class="title">@title</h1>
  <span class="logout"><a href="/logout">Logout</a></span>
  <span class="series"><a href="/series">All Series</a></span>

  @request.flash.asScala().get("fail").map { failFlashValue =>
  <div class="alert alert-warning" role="alert">
    <strong>Fail!</strong> @failFlashValue
  </div>
  }

  @request.flash.asScala().get("deleted").map { deleteFlash =>
  <div class="alert alert-warning" role="alert">
    <strong>Deleted!</strong> @deleteFlash
  </div>
  }

  <table>
    <thead>
    <tr>
      <th>Serie</th>
      <th>Season Number</th>
      <th>Episode Number</th>
      <th>Episode Name</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    @for(a <- aux) {
    <tr class="list">
      <td class="serie" >@a.getEpisode().getSeason().getSerie().getName()</td>
      <td class="season" >@a.getEpisode().getSeason().getSeasonNumber()</td>
      <td class="epNumber" >@a.getEpisode().getEp_number()</td>
      <td class="epName" >@a.getEpisode().getName()</td>

      <td>
        @helper.form(action = routes.HomeController.delete(a.getEpisode().getSeason().getSerie().getId(), a.getEpisode().getSeason().getId(), a.getEpisode().getId())) {
        @helper.CSRF.formField
          <button class="delete" type="submit">Delete Last Episode</button>
        }
      </td>

    </tr>
    }
    </tbody>
  </table>
<button class="javascript">Appear</button>
<h3 class="divResult"></h3>
<script>
document.querySelector(".javascript").onclick = function() {
  var serieName = document.querySelector(".serieName").value;
  var watchedDate = document.querySelector(".watchedDate").value;
  var seasonNumber = document.querySelector(".seasonNumber").value;
  var episodeNumber = document.querySelector(".episodeNumber").value;

  jsonObj = [];
  item = {};
  item["serieName"] = serieName;
  item["watchedDate"] = watchedDate;
  item["seasonNumber"] = seasonNumber;
  item["episodeNumber"] = episodeNumber;

  jsonObj.push(item);

  console.log(jsonObj);

  var resultElement = document.querySelector(".divResult");
  var serviceURL = "/records";

  $.ajax({
  beforeSend: function(request) {
      request.setRequestHeader("Csrf-Token", $('input[name="csrfToken"]').attr('value'));
  },
  type:'POST',
  url: serviceURL,
  data: item, //data sent to server
  success: function(data){
          elementList = document.querySelectorAll(".list");
          var flag = false;
          for (let i = 0; i < elementList.length; i++) {
            if(elementList[i].querySelector(".serie").innerHTML == serieName){
              console.log(data);
              flag = true;
              elementList[i].querySelector(".season").innerHTML = data.episode.season.seasonNumber;
              elementList[i].querySelector(".epNumber").innerHTML = data.episode.ep_number;
              elementList[i].querySelector(".epName").innerHTML = data.episode.name;
            }
          }

         if(flag == false){
            var h = '<tr class="list"><td class="serie" >${serieName}</td><td class="season" >${data.episode.season.seasonNumber}</td><td class="epNumber" >${data.episode.ep_number}</td><td class="epName" >${data.episode.name}</td></tr>';
            document.querySelector("tbody").innerHTML = h + document.querySelector("tbody").innerHTML;
         }
      },
      error: function(textStatus){
        alert("Episode does not exist");
      }
  });
}



</script>



  @helper.form(action = routes.HomeController.addRecords()) {
  @helper.CSRF.formField
  @helper.select(
  field = recordForm("serieName"),
  options = series.map(serie => serie.getName() -> serie.getName()),
  'class -> "serieName"
  )
  @helper.inputText(
    recordForm("seasonNumber"),
    'type -> "number",
    'class -> "seasonNumber"
  )
  @helper.inputText(
    recordForm("episodeNumber"),
    'type -> "number",
    'class -> "episodeNumber"
  )
  @helper.inputDate(
    recordForm("watchedDate"),
    'class -> "watchedDate"
)
  <button type="submit" class="create">Create Record</button>
  }


}
