@(series: Seq[models.Serie], serieForm: Form[forms.SerieForm], title: String)(implicit request: Http.Request, messages: play.i18n.Messages)

@main(title) {
  <h1>@title</h1>

  @request.flash.asScala().get("fail").map { failFlashValue =>
  <div class="alert alert-warning" role="alert">
    <strong>Fail!</strong> @failFlashValue
  </div>
  }

  <table>
    <thead>
    <tr>
      <th>Serie Name</th>
    </tr>
    </thead>
    <tbody>
    <tr class="series">
    @for(a <- series) {
      <td><a href="@controllers.routes.HomeController.serieid(a.getId())">@a.getName()</a></td>
    }
    </tr>
    </tbody>
  </table>


  @helper.form(action = routes.HomeController.addSeries()) {
  @helper.CSRF.formField
  @helper.inputText(
    serieForm("name"),
    'class -> "name"
  )
  @helper.inputText(
    serieForm("category"),
    'class -> "category"
  )
  @helper.inputDate(serieForm("release_date"),
'class -> "date")
  @helper.inputText(
    serieForm("classification"),
    'class -> "classification",
    'type -> "number"
  )
  <button type="submit" class="create">Create Serie</button>
  }

}