@(userForm: Form[forms.UserForm])(implicit request: Http.Request, messages: play.i18n.Messages)
@import helper._



@main("Sign") {

    @request.flash.asScala().get("fail").map { failFlashValue =>
        <div class="alert alert-warning" role="alert">
            <strong>Fail!</strong> @failFlashValue
        </div>
    }

    @helper.form(action = routes.HomeController.signup()) {
        @helper.CSRF.formField
        @helper.inputText(userForm("user"),
                            'class -> "user",
                            'id -> "user")
        @helper.inputPassword(userForm("password"),
                            'class -> "password",
                            'id -> "password")
        <button type="submit" class="create" >Create widget</button>
    }



}